<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwC4_dZgfI_EnWcZaNAnzNjkSVExr5zos</string>
	<key>GCM_SENDER_ID</key>
	<string>1067131988209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dmitrii.lesson8FB</string>
	<key>PROJECT_ID</key>
	<string>lesson8fb</string>
	<key>STORAGE_BUCKET</key>
	<string>lesson8fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067131988209:ios:36a23df16f44f395d42150</string>
</dict>
</plist>